#bigger-content{
    background-color: white;
    width: 20rem;
    min-height: 16rem;
    height: auto;
    border-radius: 20px;
    box-shadow: 1px 1px 5px black;
}
#title{
    margin-top: 14px;
    margin-left: 10px;
    font-size: x-large;
}
form{
    width: 100%;
    min-height: 10rem;
    height: auto;
    display: block;
    align-items: center;
    justify-content: center;
}
input{
    margin-top: 6px;
    width: 18rem;
    margin-left: 8px;
}
div{
    margin-top: 10px;
}
button{
    margin-top: 5px;
    margin-left: 8px;
    margin-bottom: 8px;
}
a{
    margin-left: 5px;
}

.selected{
    font-weight: bold;
}

.alert-modify{
    padding: 3px !important;
    margin-left: 8px !important;
    margin-top: 18px !important;
    margin-bottom: 5px !important;
    width: 18rem;
    /* color: #664d03;
    background-color: #fff3cd;
    padding: 3px;
    width: 9rem;
    border-radius: 10px;
    text-align: center; */
}