<app-header></app-header>
<div id="itens-operator">
    <div id="content-list">
        <ul class="nav">
            <li class="nav-item">
                <a [routerLink]="['/homepage',{outlets:{
                    'ComponenteContasPagar': ['contasPagar']
                }}]">{{contasPagar}}</a>
            </li>
            <li class="nav-item">
                {{contasReceber}}
            </li>
            <li class="nav-item">
                {{saldo}}
            </li>
        </ul>
    </div>
</div>
<div id="bigger-content">
    
    <router-outlet name="ComponenteContasPagar"></router-outlet>
</div>

