<app-header></app-header>
<div>
    <nav>
        <ul class="nav flex-column mt-3 ms-3">
            <li class="nav-item my-2">
                <a [routerLink]="['/homepage',{outlets:{
                    'ComponenteContasPagar': ['contasPagar']
                }}]">{{contasPagar}}</a>
            </li>
            <li class="nav-item my-2">
                {{contasReceber}}
            </li>
            <li class="nav-item my-2">
                {{saldo}}
            </li>
        </ul>
    </nav>
    
    <router-outlet name="ComponenteContasPagar"></router-outlet>
</div>

