<div id="externa">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Vencimento</th>
            <th scope="col">Cedente</th>
            <th scope="col">Nr. Documento</th>
            <th scope="col">Valor</th>
            <th scope="col">Histório</th>
            <th scope="col">Data Baixa</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
          </tr>
        </tbody>
      </table>
    <div class="mt-5">
        <form action="">
            <div>
                <label for="Nfiscal" class="form-label">N nota fiscal</label>
                <input type="text" id="Nfiscal" class="form-control" placeholder="Numero da nota">
            </div>
            <div>
                <label for="Nfiscal" class="form-label">Valor</label>
                <input type="text" id="Nfiscal" class="form-control" placeholder="Valor a pagar">
            </div>
            <div class="d-flex">
                <div class="">
                    <label for="Nfiscal" class="form-label">Empresa responsavel</label>
                    <input type="text" id="Nfiscal" class="form-control" placeholder="Nome empresa">
                </div>
                <div class="">
                    <label for="Nfiscal" class="form-label">CNPJ empresa</label>
                    <input type="text" id="Nfiscal" class="form-control" placeholder="CNPJ empresa">
                </div>
            </div>
        </form>
    </div>
</div>
