#externa{
    width: 55rem;
    height: 55rem;
    border-radius: 20px;
    margin-top: 28px;
    margin-left: 10rem;
    box-shadow: black 0px 0px 6px;;
}
ul{
    border-radius: 20px;
    
}
li{
    
    padding: 10px;
}
a{
    color: black;
}

