<div id="externa">
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link " href="#">Tipo 1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Tipo 2</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Tipo 3</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Tipo 4</a>
            </li>
          </ul>
    <div class="mt-5">
        <form action="">
            <div>
                <label for="Nfiscal" class="form-label">N nota fiscal</label>
                <input type="text" id="Nfiscal" class="form-control" placeholder="Numero da nota">
            </div>
            <div>
                <label for="Nfiscal" class="form-label">Valor</label>
                <input type="text" id="Nfiscal" class="form-control" placeholder="Valor a pagar">
            </div>
            <div class="d-flex">
                <div class="">
                    <label for="Nfiscal" class="form-label">Empresa responsavel</label>
                    <input type="text" id="Nfiscal" class="form-control" placeholder="Nome empresa">
                </div>
                <div class="">
                    <label for="Nfiscal" class="form-label">CNPJ empresa</label>
                    <input type="text" id="Nfiscal" class="form-control" placeholder="CNPJ empresa">
                </div>
            </div>
        </form>
    </div>
</div>
