html, body{
    background-color: rgb(255, 247, 237);   
    height: 100%;

}

app-root{
    height: 100%;
    width: 100%;
    
}

app-root > app-login{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
}